<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Purchase by Finance Team</title>
    <style>
      /* CSS styling */ body { font-family: Arial, sans-serif; font-size: 16px;
      line-height: 1.5; color: #333333; } p { margin-top: 0; margin-bottom: 1em;
      }  img { height: 20px; width : 150px ; margin-bottom: 1rem;}
    </style>
  </head>
  <body>
    <div>
      <img src="https://dbedf8rr5x9l0.cloudfront.net/mail-signature/logo+2.png" alt="solution analysts" />
    </div>
    <p>Dear {empName},</p>
    <p>
      I am writing to inform you that there has been a hold on your request for
      the subscription of
      <strong>{serviceName}</strong>
      from
      <strong>{serviceProvider}</strong>.
    </p>
    <ul>
      <li><strong>Reason to Hold Subscription: </strong> {remark}</li>
    </ul>
    <p>Please be assured that we will notify you immediately once the hold is
      removed.
    </p>
    <p>
      Thank you for your cooperation.
    </p>
    Best regards,
    <br />
    Finance Team
  </body>
</html>