<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Purchase by Finance Team</title>
    <style>
      /* CSS styling */ body { font-family: Arial, sans-serif; font-size: 16px;
      line-height: 1.5; color: #333333; } p { margin-top: 0; margin-bottom: 1em;
      }  img { height: 20px; width : 150px ; margin-bottom: 1rem;}
    </style>
  </head>
  <body>
    <div>
      <img src="https://dbedf8rr5x9l0.cloudfront.net/mail-signature/logo+2.png" alt="solution analysts" />
    </div>
    <p>Dear {empName},</p>
    <p>
      I am pleased to inform you that your renewal of
      <strong>{serviceName}</strong>
      subscription from
      <strong>{serviceProvider}</strong>
      has been completed.
    </p>
    <p>The validity of your {serviceName1} subscription
      will be up to
      {validateDate}. The credential will be shared soon on the Zoho vault.
    </p>
    <p>
      If you have any further questions or concerns, please do not hesitate to
      reach out to us.
    </p>
    Best regards,
    <br />
    Finance Team
  </body>
</html>