<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Request to RM</title>
    <style>
      /* CSS styling */ body { font-family: Arial, sans-serif; font-size: 16px;
      line-height: 1.5; color: #333333; } p { margin-top: 0; margin-bottom: 1em;
      } img { height: 20px; width : 150px ; margin-bottom: 1rem;}
    </style>
  </head>
  <body>
    <div>
      <img
        src="https://dbedf8rr5x9l0.cloudfront.net/mail-signature/logo+2.png"
        alt="solution analysts"
      />
    </div>
    <p>Dear, {empName}</p>
    <p>
      This is an email to remind your subscription of
      <strong>{serviceName}</strong>
      from
      <strong>{serviceProvider}</strong>
      will be expiring soon on
      <strong>{validateDate}</strong>. We want to ensure that you have enough time to renew
      your subscription and avail the needed service.
    </p>
    <p>After the expiration, you will no longer have access to the facility of
      <strong>{serviceName1}</strong>
      or be able to complete any related work.
    </p>
    <p>Kindly go to the <a href={link}>Portal</a> for further actions</p>
    <p>Thank you for your attention to this matter, and we look forward to your
      continued growth and development.
    </p>
    Best regards,
    <br />
    Team Finance
  </body>
</html>