<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>>Approve by PM</title>
    <style>
      /* CSS styling */ body { font-family: Arial, sans-serif; font-size: 16px;
      line-height: 1.5; color: #333333; } p { margin-top: 0; margin-bottom: 1em;
      }  img { height: 20px; width : 150px ; margin-bottom: 1rem;}
    </style>
  </head>
  <body>
    <div>
      <img src="https://dbedf8rr5x9l0.cloudfront.net/mail-signature/logo+2.png" alt="solution analysts" />
    </div>
    <p>Dear {empName},</p>
    <p>
      We are pleased to inform you that your request of <strong>renewal</strong> for the subscription of
      <strong>{serviceName}</strong>
      from
      <strong>{serviceProvider}</strong>
      has been approved.
    </p>
    <p>Hope your work will be smooth and easy to purchase the {serviceName1} for enhancing
      your output.
    </p>
    <p>If you have any questions or concerns, please feel free to reach out to
      me.</p>
    <ul>
      <li><strong>Remark from Approver : </strong> {remark}</li>
    </ul>
    Best regards,
    <br />
    {rmName}
  </body>
</html>