<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Rejected by PM</title>
    <style>
      /* CSS styling */ body { font-family: Arial, sans-serif; font-size: 16px;
      line-height: 1.5; color: #333333; } p { margin-top: 0; margin-bottom: 1em;
      } img { height: 20px; width : 150px ; margin-bottom: 1rem;}
    </style>
  </head>
  <body>
    <div>
      <img
        src="https://dbedf8rr5x9l0.cloudfront.net/mail-signature/logo+2.png"
        alt="solution analysts"
      />
    </div>
    <p>Dear {fullName},</p>
    <p>Thank you for signing up for Subscription Portal, To get started, please
      confirm your email address by clicking the link below:
    </p>

    <a href={link}>Confirm Email</a>

    <p>If you did not sign up for subscription portal ( Solution Analysts ),
      please ignore this email.</p>

    <p>Thank you,</p>
    <br />
    <p>Subscription Portal Team</p>
  </body>
</html>